// $body-bg: $light;

// $font-family-base: "Dancing Script";
$primary: #50c878;
$secondary: #afdca8;
$light: #f8f9fa;
$dark: #0e2e19;
$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  light: $light,
  dark: $dark,
  coffee: #362511,
  creamer: #d9b388,
  milk: #f4f0e8,
  roast: #1b1209,
  greenlight: #f3fbf5,
  greenmd: #daf3e2,
);
$body-bg: $light;
$card-border-radius: 0.5rem;
$nav-pills-border-radius: 0.5rem;
$btn-border-radius: 0.5rem;
$card-cap-bg: #f9f6f2;
$card-bg: #daf3e2;
$font-family-base: "Helvetica Neue", "Apple Color Emoji";
$nav-tabs-border-color: $light;
$nav-tabs-link-hover-border-color: $light;
$nav-tabs-link-active-color: $primary;
$nav-tabs-link-active-border-color: none;
// $nav-link-padding-x: ;
// $nav-tabs-link-active-bg: #f8f9fa;
$nav-tabs-link-active-border-color: #f9f6f2;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
