.button {
  padding-left: 15px;
  text-decoration: none;
  height: 3.5rem;
  border-radius: 4rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: #131009;
}

.button:hover {
  text-decoration: none;
  color: #b18f6a;
  background-color: #f4f0e8;
}
