.navWeb,
.navMobileTop,
.navMobileBottom {
  height: 50px;
}

.brand {
  font-size: 2rem;
  @media (max-width: 992px) {
    font-size: 1.5rem;
  }
  font-family: "Cortado";
  color: #362d26;
}

.icon {
  font-size: 1.25rem;
  color: #362d26;
}

.profile {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 42px;
}

.link:hover {
  background-color: #f4f0e8;
  border-radius: 100%;
}

.bottomnav {
  height: 100%;
  width: 25%;
  font-size: 2rem;
  color: #362d26;
  text-align: center;
}

.mobileIcon {
  font-size: 1.25rem;
  margin-bottom: 13px;
}

.dropdown:hover {
  background-color: #fcfbf9;
}

.formIcon {
  background-color: #f9f6f2;
  color: #362d26;
}
