// $primary: #d0be9c;
// $secondary: #b18f6a;
// $success: #52be41;
// $info: #edeae3;
// $warning: #be6f41;
// $danger: #f9f6f2;
// $light: #fcfbf9;
// $dark: #0e2e19;
// $body-bg: $light;
// $btn-border-radius-lg: 2rem;
// $font-family-base: "Dancing Script";

// First override some or all individual color variables
// $success: #3e8d63;
// $info: #13101c;
// $warning: #945707;
// $danger: #d62518;
$primary: #50c878;
$secondary: #afdca8;
$light: #f8f9fa;
$dark: #0e2e19;

// Then add them to your custom theme-colors map, together with any additional colors you might need
$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  light: $light,
  dark: $dark,
  coffee: #362511,
  creamer: #d9b388,
  milk: #f4f0e8,
  roast: #1b1209 // add any additional color below,,,,,,
);
$body-bg: $light;
$card-border-radius: 1.5rem;
$card-cap-bg: #f9f6f2;
$card-bg: #f9f6f2;
$font-family-base: "Helvetica Neue", "Apple Color Emoji";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
